runs/detect/train/args.yaml
runs/detect/train10/args.yaml
runs/detect/train11/args.yaml
runs/detect/train11/events.out.tfevents.1733163500.DESKTOP-V50URB8.15984.0
runs/detect/train11/labels_correlogram.jpg
runs/detect/train11/labels.jpg
runs/detect/train11/train_batch0.jpg
runs/detect/train11/train_batch1.jpg
runs/detect/train12/args.yaml
runs/detect/train13/args.yaml
runs/detect/train14/args.yaml
runs/detect/train14/events.out.tfevents.1733163626.DESKTOP-V50URB8.5456.0
runs/detect/train14/labels_correlogram.jpg
runs/detect/train14/labels.jpg
runs/detect/train14/train_batch0.jpg
runs/detect/train14/train_batch1.jpg
runs/detect/train14/train_batch2.jpg
runs/detect/train15/args.yaml
runs/detect/train15/events.out.tfevents.1733164735.DESKTOP-V50URB8.4936.0
runs/detect/train16/args.yaml
runs/detect/train16/events.out.tfevents.1733164771.DESKTOP-V50URB8.14676.0
runs/detect/train17/args.yaml
runs/detect/train17/events.out.tfevents.1733164803.DESKTOP-V50URB8.17716.0
runs/detect/train18/args.yaml
runs/detect/train18/events.out.tfevents.1733164955.DESKTOP-V50URB8.13084.0
runs/detect/train19/args.yaml
runs/detect/train19/events.out.tfevents.1733165142.DESKTOP-V50URB8.17448.0
runs/detect/train2/args.yaml
runs/detect/train20/args.yaml
runs/detect/train20/events.out.tfevents.1733165150.DESKTOP-V50URB8.13948.0
runs/detect/train21/args.yaml
runs/detect/train21/events.out.tfevents.1733165190.DESKTOP-V50URB8.12476.0
runs/detect/train22/args.yaml
runs/detect/train22/events.out.tfevents.1733165198.DESKTOP-V50URB8.10424.0
runs/detect/train23/args.yaml
runs/detect/train23/events.out.tfevents.1733165248.DESKTOP-V50URB8.11344.0
runs/detect/train24/args.yaml
runs/detect/train24/events.out.tfevents.1733165256.DESKTOP-V50URB8.3288.0
runs/detect/train25/args.yaml
runs/detect/train25/events.out.tfevents.1733165354.DESKTOP-V50URB8.8392.0
runs/detect/train25/labels_correlogram.jpg
runs/detect/train25/labels.jpg
runs/detect/train25/train_batch0.jpg
runs/detect/train25/train_batch1.jpg
runs/detect/train26/args.yaml
runs/detect/train26/events.out.tfevents.1733165411.DESKTOP-V50URB8.3904.0
runs/detect/train27/args.yaml
runs/detect/train27/events.out.tfevents.1733165418.DESKTOP-V50URB8.788.0
runs/detect/train28/args.yaml
runs/detect/train28/confusion_matrix_normalized.png
runs/detect/train28/confusion_matrix.png
runs/detect/train28/events.out.tfevents.1733165602.DESKTOP-V50URB8.1952.0
runs/detect/train28/F1_curve.png
runs/detect/train28/labels_correlogram.jpg
runs/detect/train28/labels.jpg
runs/detect/train28/P_curve.png
runs/detect/train28/PR_curve.png
runs/detect/train28/R_curve.png
runs/detect/train28/results.csv
runs/detect/train28/results.png
runs/detect/train28/train_batch0.jpg
runs/detect/train28/train_batch1.jpg
runs/detect/train28/train_batch2.jpg
runs/detect/train28/train_batch320.jpg
runs/detect/train28/train_batch321.jpg
runs/detect/train28/train_batch322.jpg
runs/detect/train28/val_batch0_labels.jpg
runs/detect/train28/val_batch0_pred.jpg
runs/detect/train28/val_batch1_labels.jpg
runs/detect/train28/val_batch1_pred.jpg
runs/detect/train28/val_batch2_labels.jpg
runs/detect/train28/val_batch2_pred.jpg
runs/detect/train28/weights/best.pt
runs/detect/train28/weights/last.pt
runs/detect/train29/args.yaml
runs/detect/train29/events.out.tfevents.1733165930.DESKTOP-V50URB8.17664.0
runs/detect/train29/labels_correlogram.jpg
runs/detect/train29/labels.jpg
runs/detect/train29/results.csv
runs/detect/train29/train_batch0.jpg
runs/detect/train29/train_batch1.jpg
runs/detect/train29/train_batch2.jpg
runs/detect/train29/weights/best.pt
runs/detect/train29/weights/last.pt
runs/detect/train3/args.yaml
runs/detect/train30/args.yaml
runs/detect/train30/confusion_matrix_normalized.png
runs/detect/train30/confusion_matrix.png
runs/detect/train30/events.out.tfevents.1733166229.DESKTOP-V50URB8.15764.0
runs/detect/train30/F1_curve.png
runs/detect/train30/labels_correlogram.jpg
runs/detect/train30/labels.jpg
runs/detect/train30/P_curve.png
runs/detect/train30/PR_curve.png
runs/detect/train30/R_curve.png
runs/detect/train30/results.csv
runs/detect/train30/results.png
runs/detect/train30/train_batch0.jpg
runs/detect/train30/train_batch1.jpg
runs/detect/train30/train_batch2.jpg
runs/detect/train30/val_batch0_labels.jpg
runs/detect/train30/val_batch0_pred.jpg
runs/detect/train30/val_batch1_labels.jpg
runs/detect/train30/val_batch1_pred.jpg
runs/detect/train30/val_batch2_labels.jpg
runs/detect/train30/val_batch2_pred.jpg
runs/detect/train30/weights/best.pt
runs/detect/train30/weights/last.pt
runs/detect/train4/args.yaml
runs/detect/train5/args.yaml
runs/detect/train6/args.yaml
runs/detect/train7/args.yaml
runs/detect/train8/args.yaml
runs/detect/train9/args.yaml
runs/detect/train9/events.out.tfevents.1733163232.DESKTOP-V50URB8.6044.0
runs/detect/train9/labels_correlogram.jpg
runs/detect/train9/labels.jpg
runs/detect/train9/train_batch0.jpg
runs/detect/train9/train_batch1.jpg
runs/detect/train9/train_batch2.jpg
